* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {}

.App {
  background-color: rgb(255, 211, 90);
  text-align: center;
}

.friend {
  padding: 10px;
}

.joke {
  padding: 20px;
}

.dogPhotos {
  padding: 10px;
  background-color: rgb(183, 245, 229);
}

span {
  font-weight: bold;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

button {
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  background-color: rgb(211, 211, 211);
}